{% extends ['list.html.twig', '_default/list.html.twig'] %}

      {%- block content ~%}
      <article class="mx-auto max-w-(--breakpoint-md) prose md:prose-lg lg:prose-xl
        prose-h2:text-sm prose-img:m-0 prose-a:no-underline
      ">
        <h1>{{ page.title }}</h1>
        {{- page.content ~}}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
          {%- for p in pages ~%}
          <a href="{{ url(p) }}">
            <h2>{{ p.title }}</h2>
            <img src="{{ asset(p.images[0].file) }}" alt="{{ p.images[0].alt|e }}" class="m-0">
          </a>
          {%- endfor ~%}
        </div>
      </article>
      {%- endblock content ~%}

    {%- block noise %}{% endblock ~%}