{% extends ['list.html.twig', '_default/list.html.twig'] %}

      {%- block content ~%}
      <article class="mx-auto max-w-(--breakpoint-md) prose md:prose-lg lg:prose-xl">
        <h1>{{ page.title }}</h1>
        {{- page.content ~}}
        {%- for p in pages ~%}
        <article>
          <header>
            <h2><a href="{{ url(p) }}">{{ p.title|e }}</a></h2>
            {%- set readtime = readtime(p.content) ~%}
            <time>{{ p.date|format_date('long') }}</time> · {% trans %}%readtime% min{% endtrans ~%}
          </header>
        </article>
        {%- endfor ~%}
        {{- include('partials/paginator.html.twig', {'page': page}, with_context = false) ~}}
      </article>
      {%- endblock content ~%}

    {%- block noise %}{% endblock ~%}