<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%~ include 'partials/metatags.html.twig' ~%}
    <link href="/style.css" rel="stylesheet">
    <style>{% apply minify_css %}
      p {
        margin-bottom: 1rem;
      }
      p > a {
        text-decoration: underline;
      }
      p > a:hover {
        text-decoration: none;
      }
      .noise {
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: .05;
      }
      /* Pink links */
      a:not(.logo) {
        position: relative;
      }
      a:not(.logo)::after {
        content: '';
        transform-origin: 0 0;
        transform: scaleX(0);
        position: absolute;
        bottom: 0.01em;
        left: 0;
        right: 0;
        height: .4em;
        background: #F5B2A5;
        z-index: -1;
        opacity: 0.8;
        transition: transform .3s;
      }
      a:not(.logo):hover::after {
        transform: scaleX(1);
      }
      nav a:not(.logo)::after {
        bottom: 0.22em;
      }
    {% endapply %}</style>
  </head>
  <body class="font-sans leading-normal tracking-normal md:m-10">
    {#- header ~#}
    <nav class="w-full container mx-auto p-6">
      <div class="container mx-auto flex flex-wrap items-center">
        <div class="flex w-full md:w-3/4 justify-center md:justify-start font-extrabold">
          {#- logo ~#}
          <a class="no-underline hover:no-underline logo" href="{{ url() }}">
            <img src="{{ url('/img/logo.svg') }}" class="w-8" width="75" height="75" alt="The 'C' logo" />
          </a>
          {#- email ~#}
          <a class="no-underline hover:no-underline mt-2 ml-10" href="mailto:{{ site.author.email }}">
            <span class="font-light">{{ site.author.email }}</span>
          </a>
        </div>
        {#- menu ~#}
        <div class="flex w-full md:pt-2 pt-6 content-center justify-between md:w-1/4 md:justify-end">
          <ul class="list-reset flex justify-between flex-1 items-center">
          {%- for link in site.links ~%}
            <li>
              <a class="inline-block no-underline hover:no-underline font-light lowercase" href="{{ link.url }}" target="_blank" rel="noopener">{{ link.name }}</a>
            </li>
          {%- endfor ~%}
          </ul>
        </div>
      </div>
    </nav>
    {#- main content ~#}
    <div class="container pt-14 md:pt-32 px-6 mx-auto flex-wrap flex-col md:flex-row items-center">
      {%- block content ~%}
      <div class="leading-normal mb-4 my-4">
        {{- page.content ~}}
      </div>
      {%- endblock content ~%}
    </div>
    <canvas id="noise" class="noise"></canvas>
    <script src="{{ url('/noise.js') }}"></script>
  </body>
</html>
