<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{- include('partials/metatags.html.twig') ~}}
    <style>{% apply minify_css ~%}
      /* https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/Heading_Elements#specifying_a_uniform_font_size_for_h1
         https://github.com/GoogleChrome/lighthouse/issues/16404#issuecomment-2754716763 */
      :where(h1) {
        margin-block: 0.67em;
        font-size: 2em;
      }
    {% endapply %}</style>
    {%- if getenv('CECIL_ENV') == 'production' ~%}
    <style>
      {{- asset('css/styles.css', {minify: true})|inline ~}}
    </style>
    {%- else ~%}
    <link rel="stylesheet" href="{{ asset('css/styles.css', {minify: false, fingerprint: false}) }}">
    {%- endif ~%}
  </head>
  <body class="font-sans leading-normal tracking-normal md:m-10">
    {#- header ~#}
    <nav class="w-full container mx-auto p-6">
      <div class="container mx-auto flex flex-wrap items-center">
        <div class="flex w-full md:w-3/4 justify-center md:justify-start font-extrabold">
          {#- logo ~#}
          <a class="no-underline hover:no-underline logo" href="{{ url(site.home) }}">
            <img src="{{ asset('logo.svg') }}" class="w-8" width="75" height="75" alt="{% trans %}Le logo 'C'{% endtrans %}">
          </a>
          {#- email ~#}
          <a class="no-underline hover:no-underline mt-2 ml-10" href="mailto:{{ site.email }}">
            <span class="font-light">{{ site.email }}</span>
          </a>
        </div>
        {#- menu ~#}
        <div class="flex w-full md:pt-2 pt-6 content-center justify-between md:w-1/4 md:justify-end">
          <ul class="list-reset flex justify-between flex-1 items-center space-x-4">
          {%- for link in site.links ~%}
            <li>
              {%- if link.blank ?? true == false ~%}
              <a class="inline-block no-underline hover:no-underline font-light lowercase" href="{{ link.url }}" rel="noopener">{{ link.name }}</a>
              {%- else ~%}
              <a class="inline-block no-underline hover:no-underline font-light lowercase" href="{{ link.url }}" target="_blank" rel="noopener">{{ link.name }}</a>
              {%- endif ~%}
            </li>
          {%- endfor ~%}
          </ul>
        </div>
      </div>
    </nav>
    {#- main content ~#}
    <div class="container pt-6 md:pt-28 px-6 mx-auto flex-wrap flex-col md:flex-row items-center">
      {%- block content ~%}
      <div class="leading-normal mb-4 my-4">
        {{- page.content ~}}
      </div>
      {%- endblock content ~%}
    </div>
    {#- footer ~#}
    <footer class="container pt-6 px-6 mx-auto">
      {%- block footer ~%}
      © {{ 'now'|date('Y') }} Cécile Ricordeau
      {%- endblock footer ~%}
    </footer>
    {%- block noise ~%}
    <canvas id="noise" class="noise"></canvas>
    <script src="{{ asset('js/noise.js') }}" async></script>
    {%- endblock noise ~%}
  </body>
</html>